
<center>
<div class="row">
  <div class="listing">
    <h2><%= t(".listing") %></h2>
    <%= form_for @listing  do |form| %>
      <%= render partial: '/listings/form', object: form %>

      <div class="submit-field">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>  

</center>