

<% if current_user.role != "superadmin" %>

  <p> You are not allowed here </p>
<% else %>
  <% @users.each do |u| %>
    <div class="spacing"></div>
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2">
        <%= link_to u.username, user_path(u) %>
      </div>
    </div>
  <% end %>
<% end %>
