

<center>
  <div id="reservation" class="new-reservation">
    <h2><%= t(".reservation") %></h2>
    <%= form_for [@listing,@reservation]  do |form| %>
      <%= render partial: '/reservations/form', object: form %>

      <div class="submit-field">
        <%= form.submit %>
      </div>
    <% end %>
  </div>

</center>